
ul[class^="gallery"] {
    list-style: none;
    padding: 0;
}

ul[class^="gallery"] li {
    text-align: center;
    float: left;
    margin-bottom: 1em
}

ul.gallery li {
    max-width: 21%;
    margin-right: 4%;
}

ul.gallery li:nth-child(4n+5) {
    clear: both
}

ul.gallery-6 li {
    max-width: 14%;
    margin-right: 2%;
}
    
ul.gallery-6 li:nth-child(6n+7) {
    clear: both
}

ul.gallery-8 li {
    max-width: 10%;
    margin-right: 2%;
}

ul.gallery-8 li:nth-child(8n+9) {
    clear: both
}

ul[class^="gallery"] li a:first-of-type {
    font-weight: bold;
    display: block
}

ul[class^="gallery"] li a img {
    display: block;
    margin: 0 auto;
    width: auto;
    height:150px;   
}

@media(max-width:768px) {
    ul[class^="gallery"] li {
        max-width: 100%;
        width: 100%;
        margin-right: 0;
    }
    ul[class^="gallery"] li a img {
        max-height:100%;   
    }
}
