iframe,
#back-to-blog,
#markdown-toc,
.noprint {
    display:none;
}
.gallery img,
.screenshot { max-height:160px; width: auto !important; max-width: auto !important;}

article,
.article-body p {
    font-size: 9pt;
    line-height: 1.2em;
}

.highlight pre {
    font-size:6pt;
    border: 1px solid #CCC;
}

h1 {
    font-size:14pt;
    font-weight:bold;
}

h2 {
    font-size:12pt;
    font-weight:bold;
}

h3, h4, h5, h6 {
    font-size:11pt;
    font-weight:bold;
}

.page-break {
    page-break-before: always;
}

.content { padding:0; margin:0;}

.stappenplan .article-body img {
    float: right;
    width: 160px;
    min-width: 160px;
    max-width: 160px;
    max-height: 100%;
    margin-bottom: 1em;
    margin-left: 1em;
    clear:both;
}