@page {
    size: A4; 
    margin: 1.5cm;
}


html, body, .article-body, #content {
    margin:0;
    padding:0;
}

.onlyprint {
    display:block;
}

iframe,
#markdown-toc,
.noprint {
    display:none;
}

ul.gallery {
    list-style: none;
    padding: 0
}

ul.gallery li {
    text-align: center;
    float: left;
    max-width: 21%;
    margin-right: 4%;
    margin-bottom: 1em
}

ul.gallery li:nth-child(5n+5) {
    clear: both
}


article,
.article-body p {
    font-size: 9pt;
    line-height: 1.6em;
}

.highlight pre {
    font-size:6pt;
    border: 1px solid #CCC;
}

h1 {
    font-size:14pt;
    font-weight:bold;
    margin-top: 0
}

h2 {
    font-size:12pt;
    font-weight:bold;
}

h3, h4, h5, h6 {
    font-size:11pt;
    font-weight:bold;
}

.page-break {
    page-break-before: always;
}

.content { padding:0; margin:0;}

.article-body img {
    height: auto !important;
    max-height: 100% !important;    
}
.screenshot {
    width: 50% !important;
    min-width: 50% !important;
}

.stappenplan .article-body img {
    float: right;
    width: 5cm !important;
    min-width: 5cm !important;
    margin-bottom: 1em;
    margin-left: 1em;
    clear:both;
}

.blog footer {
    border-top: 1px solid #999;
    display: block;
    position: fixed;
    bottom: 0;
    font-size:6pt;
    color: #999;
}

#print-footer-space {
    height: 1cm;
}

#print-footer {
    display: block;
    position: fixed;
    bottom: 0;
    width:100%;
}

#print-footer img {
    height: 1em;       
}

#license {
    border: 1px solid black;
    font-size:8pt;
    border-width: 1px 0;
    padding: 1em 0;
    text-align:center;
}
