img {
  clear: both;
}

pre {
  width: 100%;
  overflow: hidden;
  margin-bottom: 1em;
  background-color: #f8f8f8;
  border: 1px solid #eee;
}

svg {
  letter-spacing: 0pt;
}

scratch {
  text-decoration: none;
  border-radius: 3px;
  color: white;
  padding: 0px 8px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  display: inline-block;
  font-size: 0.9em;
  border: 1px solid;
  line-height:1.8em;
}

scratch.gebeurtenis {
  background-color: #ffbf00;
  border-color: #cc9900;
}
scratch.beweging {
  background-color: #4c97ff;
  border-color: #3373cc;
}

scratch.pen {
  background-color: #0fbd8c;
  border-color: #0b8e69;
}

scratch.besturen {
  background-color: #ffab19;
  border-color: #cf8b17;
}

scratch.uiterlijk {
  background-color: #9966ff;
  border-color: #774dcb;
}

scratch.var,
scratch.variabele,
scratch.variabelen {
  background-color: #ff8c1a;
  border-color: #db6e00;
}

scratch.func,
scratch.functie,
scratch.functies {
  background-color: #59c059;
  border-color: #389438;
}

scratch.var,
scratch.func {
  border-radius: 1em;
}

scratch.gebeurtenis select {
  background-color: #cc9900;
}
scratch.beweging select {
  background-color: #3373cc;
}

scratch.pen select {
  background-color: #0b8e69;
}

scratch.besturen select {
  background-color: #cf8b17;
}

scratch.uiterlijk select {
  background-color: #774dcb;
}

scratch.variabele select,
scratch.variabelen select {
  background-color: #db6e00;
}

scratch.functie select {
  background-color: #389438;
}

scratch span.flag {
  color: rgb(76, 191, 86);
}

scratch span.arrow-clockwise {
  font-weight: bold;
  transform: rotate(90deg);
  display: inline-block;
}

scratch input {
  color: black;
  background-color: white;
  border: 1px solid white;
  width: 2.4em;
  font-size: 0.9em;
  text-align: center;
  height: 1.5em;
  border-radius: 1em;
  padding: 1px 5px;
}

scratch input.purple {
  background-color: #6a0dad;
}

scratch.categorie {
  background-color: #f8f8f8;
  color: #000;
  border: 1px solid #eee;
  padding: 0 5px 0 26px;
}

scratch.categorie:before {
  content: " \25CF";
  font-size: 2.5em;
  margin-left: -24px;
  position: absolute;
}

scratch.categorie.gebeurtenissen:before {
  color: #ffbf00;
}

scratch.categorie.bewegingen:before {
  color: #4c97ff;
}

scratch.categorie.pen:before {
  color: #0fbd8c;
}

scratch.categorie.besturen:before {
  color: #ffab19;
}

scratch.categorie.uiterlijken:before {
  color: #9966ff;
}

scratch.categorie.variabelen:before {
  color: #ff8c1a;
}

scratch.categorie.functies:before {
  color: #59c059;
}

blockquote {
  border: none !important;
  border-left: 5px solid #ff0554 !important;
}

@media screen {
  scratch.categorie:before {
    margin-top: -2px;
  }
}

@media print {
  scratch {
    -webkit-print-color-adjust: exact !important;
  }
  h1 {
    display: none;
  }
  h2 {
    font-size: 20pt !important;
    page-break-before: always !important;
  }
  .article-body img,
  .article-body pre {
    width: auto !important;
    height: auto !important;
    border: none !important;
    background-color: transparent !important;
  }

  .article-body img {
    zoom: 0.75 !important;
  }

  .article-body pre {
    zoom: 0.5 !important;
  }
}
