.stappenplan .article-body img {
    float: right;
    width: 300px;
    min-width: 300px;
    max-width: 300px;
    margin-bottom: 1em;
    clear:both;
}

.stappenplan .article-body > p {
    clear:both;
    margin:0;
    margin-top:2em;
}

.stappenplan .article-body ol {
    overflow:auto;
    margin-top:2em;
}

@media(max-width:768px) {
    .stappenplan .article-body img {
        width: 100%;
        min-width: auto;
        max-width: 100%;
        margin-bottom: 1em;
        display:block;
    }    
}
    