.scratch img {
  float: none;
}

.scratch pre {
  width: 100%;
  overflow: hidden;
  margin-bottom: 3em;
  background-color: #f8f8f8;
  border: 1px solid #eee;
}

.scratch svg {
  letter-spacing: 0pt;
}

.scratch scratch {
  text-decoration: none;
  border-radius: 3px;
  color: white;
  padding: 0px 8px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  display: inline-block;
  font-size: 0.9em;
  border: 1px solid;
}

.scratch scratch.gebeurtenis {
  background-color: #ffbf00;
  border-color: #cc9900;
}
.scratch scratch.beweging {
  background-color: #4c97ff;
  border-color: #3373cc;
}

.scratch scratch.pen {
  background-color: #0fbd8c;
  border-color: #0b8e69;
}

.scratch scratch.besturen {
  background-color: #ffab19;
  border-color: #cf8b17;
}

.scratch scratch.uiterlijken {
  background-color: #9966ff;
  border-color: #774dcb;
}

.scratch scratch.var {
  border-radius: 1em;
}

.scratch scratch.variabele,
.scratch scratch.variabelen {
  background-color: #ff8c1a;
  border-color: #db6e00;
}

.scratch scratch.functie,
.scratch scratch.functies {
  background-color: #59c059;
  border-color: #389438;
}

.scratch scratch.gebeurtenis select {
  background-color: #cc9900;
}
.scratch scratch.beweging select {
  background-color: #3373cc;
}

.scratch scratch.pen select {
  background-color: #0b8e69;
}

.scratch scratch.besturen select {
  background-color: #cf8b17;
}

.scratch scratch.uiterlijk select {
  background-color: #774dcb;
}

.scratch scratch.variabele select {
  background-color: #db6e00;
}

.scratch scratch.functie select {
  background-color: #389438;
}

.scratch scratch span.flag {
  color: rgb(76, 191, 86);
}

.scratch scratch span.arrow-clockwise {
  font-weight: bold;
  transform: rotate(90deg);
  display: inline-block;
}

.scratch scratch input {
  color: black;
  background-color: white;
  border: 1px solid white;
  width: 2em;
  text-align: center;
  height: 1.5em;
  border-radius: 1em;
  padding: 1px 5px;
}

.scratch scratch input.purple {
  background-color: #6a0dad;
}

.scratch scratch.categorie {
  background-color: #f8f8f8;
  color: #000;
  border: 1px solid #eee;
  padding: 0 5px 0 26px;
}

.scratch scratch.categorie:before {
  content: " \25CF";
  font-size: 2.5em;
  position: absolute;
  margin-top: -24px;
  margin-left: -24px;
}

.scratch scratch.categorie.gebeurtenissen:before {
  color: #ffbf00;
}

.scratch scratch.categorie.bewegingen:before {
  color: #4c97ff;
}

.scratch scratch.categorie.pen:before {
  color: #0fbd8c;
}

.scratch scratch.categorie.besturen:before {
  color: #ffab19;
}

.scratch scratch.categorie.uiterlijken:before {
  color: #9966ff;
}

.scratch scratch.categorie.variabelen:before {
  color: #ff8c1a;
}

.scratch scratch.categorie.functies:before {
  color: #59c059;
}
