.stappenplan .article-body img {
    float: right;
    width: 300px;
    min-width: 300px;
    max-width: 300px;
    max-height: 100%;
    margin-bottom: 1em;
    margin-left: 1em;
    clear:both;
}

.stappenplan .article-body .blog > p,
.stappenplan .article-body > p {
    clear:both;
}

.stappenplan .article-body ol {
    overflow:auto;
}

.stappenplan .article-body h2 + p{
     margin-bottom: 1em;
     display: block;
}

@media(max-width:768px) {
    .stappenplan .article-body img {
        width: 100%;
        min-width: auto;
        max-width: 100%;
        margin-bottom: 1em;
        margin-left: 0;
        margin-right: 0;
        display:block;
    }    
}
    


iframe.youtube {
    width: 560px;
    height: 315px;
}

@media only screen and (max-width: 600px) {
    iframe.youtube {
        width: 360px;
        height: 240px;
    }
}


table.borders {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;
}

table.borders td,th {
    border: 1px solid #ddd;
    padding: 5px;
}