<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" lang="nl"> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" lang="nl"> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" lang="nl"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" lang="nl">
<!--<![endif]-->

<head>
  <meta charset="UTF-8" />
  <title>
    Materiaal - CoderDojo Arnhem
  </title>
  <meta name="description" content="Kinderen leren programmeren" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
    integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />
  <link rel="shortcut icon" href="/static/cd-theme/img/coderdojo/favicon.ico" />
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:200,300,400" type="text/css" />
  <link rel="stylesheet" href="/static/cd-theme/css/style.min.css" type="text/css" />
  <link rel="stylesheet" href="/static/cd-theme/css/cd-common.min.css" type="text/css" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
    crossorigin="anonymous"></script>
  <script src="https://use.fontawesome.com/fee0636489.js"></script>
  <script src="/static/cd-theme/js/nav.js"></script>
  <script src="/static/cd-theme/js/cd-common.min.js"></script>
  <link rel="dns-prefetch" href="//fonts.googleapis.com" />
  <link rel="dns-prefetch" href="//s.w.org" />
  <link rel="canonical" href="http://www.coderdojo-arnhem.nl/materiaal/" />
  <link rel="icon" href="/static/img/cd-32x32.png" sizes="32x32" />
  <link rel="icon" href="/static/img/cd-192x192.png" sizes="192x192" />
  <link rel="apple-touch-icon-precomposed" href="/static/img/cd-180x180.png" />
  <meta name="msapplication-TileImage" content="/static/img/cd-270x270.png" />
  {% seo %}
</head>

<body class="page-template-default page page-id-475 page-parent" data-template="base.twig">
  <header class="header cd-menu">
    <div class="cd-menu__desktop-nav">
      <div class="cd-menu__first-row">
        <a href="/">
          <img src="/static/cd-theme/img/coderdojo/coderdojo-arnhem.svg" width="400" height="44" />
        </a>
        <div class="cd-menu__flex-spacer"></div>
      </div>
      <ul class="cd-menu__second-row">
        <li><a href="http://www.coderdojo-arnhem.nl/">Home</a></li>
        <li>
          <a href="http://www.coderdojo-arnhem.nl/komendeeditie/">Komende editie</a>
        </li>
        <li>
          <a href="http://www.coderdojo-arnhem.nl/voor-ouders/">Voor ouders</a>
        </li>
        <li>
          <a href="http://www.coderdojo-arnhem.nl/materiaal/">Materiaal</a>
        </li>
        <li>
          <a href="http://www.coderdojo-arnhem.nl/meehelpen/">Meehelpen</a>
        </li>
        <li>
          <a href="http://www.coderdojo-arnhem.nl/overons/">Over ons</a>
        </li>
        <li><a href="http://www.coderdojo-arnhem.nl/contact/">Contact</a></li>
      </ul>
    </div>
    <div class="cd-menu__mobile-nav-bar">
      <button type="button" class="cd-menu__hamburger" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="cd-menu__hamburger-bar"></span>
        <span class="cd-menu__hamburger-bar"></span>
        <span class="cd-menu__hamburger-bar"></span>
      </button>
      <a href="/">
        <img src="/static/cd-theme/img/coderdojo/coderdojo-arnhem.svg"
          style="max-width:75%; padding-top:10px; padding-left: 5px;" />
      </a>
    </div>
    <div class="cd-menu__scrim"></div>
    <nav id="cd-menu__sliding-menu-primary" class="cd-menu__sliding-menu" data-toggle="closed">
      <div class="cd-menu__close-row">
        <span class="cd-menu__close-button">&times;</span>
      </div>
      <div class="cd-menu__content">
        <div class="cd-menu__content-pre">
          <ul class="cd-menu__content-block">
            <li><a href="http://www.coderdojo-arnhem.nl/">Home</a></li>
            <li>
              <a href="http://www.coderdojo-arnhem.nl/komendeeditie/">Komende editie</a>
            </li>
            <li>
              <a href="http://www.coderdojo-arnhem.nl/voor-ouders/">Voor ouders</a>
            </li>
            <li>
              <a href="http://www.coderdojo-arnhem.nl/materiaal/">Materiaal</a>
            </li>
            <li>
              <a href="http://www.coderdojo-arnhem.nl/meehelpen/">Meehelpen</a>
            </li>
            <li>
              <a href="http://www.coderdojo-arnhem.nl/overons/">Over ons</a>
            </li>
            <li>
              <a href="http://www.coderdojo-arnhem.nl/contact/">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <script type="text/javascript">
      window.cdMenu();
    </script>
  </header>
  <div class="cd-menu__content-container no-padding">
    <section id="content" role="main" class="content-wrapper">
      <div class="wrapper ">
        <div class="content-wrapper">
          <article class="post-type-page" id="post-475">
            <section>
              <div class="article-body">
                {{ content }}
              </div>
            </section>
          </article>
        </div>
        <!-- /content-wrapper -->
      </div>
    </section>
  </div>
  <footer id="footer" class="cd-footer">
    <div class="row">
      <div class="col-sm-4">
        <p class="cd-footer__social-icons">
          <a href="https://www.facebook.com/CoderDojoArnhem/" target="_blank">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
              <i class="fa fa-facebook fa-stack-1x cd-footer__social-icons__icon" aria-hidden="true"></i>
            </span>
          </a>
          <a href="https://twitter.com/CoderDojo026" target="_blank">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
              <i class="fa fa-twitter fa-stack-1x cd-footer__social-icons__icon" aria-hidden="true"></i>
            </span>
          </a>
          <a href="mailto://contact@coderdojo-arnhem.nl" target="_blank">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
              <i class="fa fa fa-at fa-stack-1x cd-footer__social-icons__icon" aria-hidden="true"></i>
            </span>
          </a>
          <a href="https://coderdojo.nl/slack-community" target="_blank">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
              <i class="fa fa fa-slack fa-stack-1x cd-footer__social-icons__icon" aria-hidden="true"></i>
            </span>
          </a>
        </p>
      </div>
    </div>
  </footer>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="/static/cd-theme/js/fitvids.min.js"></script>
  <script src="/static/cd-theme/site.js"></script>
</body>

</html>