<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" lang="nl"> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" lang="nl"> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" lang="nl"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="nl">
<!--<![endif]-->

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:200,300,400" type="text/css" />
  <link rel="stylesheet" href="/static/cd-theme/css/style.min.css" type="text/css" />
  <link rel="stylesheet" href="/static/cd-theme/css/cd-common.min.css" type="text/css" />
  <link rel="stylesheet" href="/static/cd-theme/css/print.css" type="text/css" media="print" />
  <script src="/static/cd-theme/js/cd-common.min.js"></script>
  <link rel="shortcut icon" href="/static/cd-theme/img/coderdojo/favicon.ico" />
  <link rel="icon" href="/static/img/cd-32x32.png" sizes="32x32" />
  <link rel="icon" href="/static/img/cd-192x192.png" sizes="192x192" />
  {% seo %}
</head>

<body class="page-template-default page {{ page.class }}">
  <header class="header cd-menu noprint">
    <div class="cd-menu__desktop-nav">
      <div class="cd-menu__first-row">
        <a href="http://www.coderdojo-arnhem.nl/">
          <img src="/static/cd-theme/img/coderdojo/coderdojo-arnhem.svg" width="400" height="44" />
        </a>
        <div class="cd-menu__flex-spacer"></div>
      </div>
      <ul class="cd-menu__second-row">
        <li><a href="http://www.coderdojo-arnhem.nl/">Home</a></li>
        <li><a href="http://www.coderdojo-arnhem.nl/komendeeditie/">Komende editie</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="http://www.coderdojo-arnhem.nl/voor-ouders/">Voor ouders</a></li>
        <li><a href="/materiaal">Materiaal</a></li>
        <li><a href="http://www.coderdojo-arnhem.nl/meehelpen/">Meehelpen</a></li>
        <li><a href="http://www.coderdojo-arnhem.nl/overons/">Over ons</a></li>
        <li><a href="http://www.coderdojo-arnhem.nl/contact/">Contact</a></li>
      </ul>
    </div>
    <div class="cd-menu__mobile-nav-bar">
      <button type="button" class="cd-menu__hamburger" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="cd-menu__hamburger-bar"></span>
        <span class="cd-menu__hamburger-bar"></span>
        <span class="cd-menu__hamburger-bar"></span>
      </button>
      <a href="http://www.coderdojo-arnhem.nl">
        <img src="/static/cd-theme/img/coderdojo/coderdojo-arnhem.svg"
          style="max-width:75%; padding-top:10px; padding-left: 5px;" />
      </a>
    </div>
    <div class="cd-menu__scrim"></div>
    <nav id="cd-menu__sliding-menu-primary" class="cd-menu__sliding-menu" data-toggle="closed">
      <div class="cd-menu__close-row">
        <span class="cd-menu__close-button">&times;</span>
      </div>
      <div class="cd-menu__content">
        <div class="cd-menu__content-pre">
          <ul class="cd-menu__content-block">
            <li><a href="http://www.coderdojo-arnhem.nl/">Home</a></li>
            <li><a href="http://www.coderdojo-arnhem.nl/komendeeditie/">Komende editie</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="http://www.coderdojo-arnhem.nl/voor-ouders/">Voor ouders</a></li>
            <li><a href="/materiaal">Materiaal</a></li>
            <li><a href="http://www.coderdojo-arnhem.nl/meehelpen/">Meehelpen</a></li>
            <li><a href="http://www.coderdojo-arnhem.nl/overons/">Over ons</a></li>
            <li><a href="http://www.coderdojo-arnhem.nl/contact/">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <script type="text/javascript">
      window.cdMenu();
    </script>
  </header>
  <div class="cd-menu__content-container no-padding">
    <section id="content" role="main" class="content-wrapper">
      <div class="wrapper ">
        <div class="content-wrapper">
          <article class="post-type-page">
            <section>
              <div class="article-body">
                {{ content }}
              </div>
            </section>
          </article>
        </div>
      </div>
    </section>
  </div>
  <footer id="footer" class="cd-footer noprint">
    <div class="row">
      <div class="col-sm-4">
        <p class="cd-footer__social-icons">
          <a href="https://www.facebook.com/CoderDojoArnhem/" target="_blank" rel="noopener">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
              <i class="fa fa-facebook fa-stack-1x cd-footer__social-icons__icon" aria-hidden="true"></i>
            </span>
          </a>
          <a href="https://twitter.com/CoderDojo026" target="_blank" rel="noopener">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
              <i class="fa fa-twitter fa-stack-1x cd-footer__social-icons__icon" aria-hidden="true"></i>
            </span>
          </a>
          <a href="mailto://contact@coderdojo-arnhem.nl" target="_blank" rel="noopener">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
              <i class="fa fa fa-at fa-stack-1x cd-footer__social-icons__icon" aria-hidden="true"></i>
            </span>
          </a>
          <a href="https://coderdojo.nl/slack-community" target="_blank" rel="noopener">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
              <i class="fa fa fa-slack fa-stack-1x cd-footer__social-icons__icon" aria-hidden="true"></i>
            </span>
          </a>
        </p>
      </div>
    </div>
  </footer>
  <script>
    // open all external links in target _blank
    var isLocalHost = document.location.host.startsWith('localhost');
    if (!isLocalHost) {
      var links = document.querySelectorAll('a'), i;
      for (i = 0; i < links.length; ++i) {
        var a = links[i],
            href = a.href || '';
        if (!href.includes('coderdojo-arnhem.') || href.includes('.pdf')) {
          a.target = '_blank'; 
          a.rel='noopener';
        }
      }
    }
  </script>

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-56676190-2"></script>
  <script>
    if (!isLocalHost) {
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-56676190-2');
    }
  </script>
  <script type="application/ld+json">
    { 
      "@context": "http://schema.org",
      "@type": "Organization",
      "name": "CoderDojo Arnhem",
      "url": "http://www.coderdojo-arnhem.nl",
      "logo": "http://www.coderdojo-arnhem.nl/wp-content/themes/cd-theme/static/img/coderdojo/coderdojo-arnhem.svg",
      "foundingDate": "2016",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "Kortestraat 16",
        "addressLocality": "Arnhem",
        "postalCode": "6811 EP",
        "addressCountry": "NL"
      },
      "sameAs": [ 
        "https://www.facebook.com/CoderDojoArnhem/",
        "https://twitter.com/CoderDojo026"
      ]
    }
  </script>

</body>

</html>