---
layout: default
---

<link
  rel="stylesheet"
  href="/static/cd-theme/css/toc.css"
  type="text/css"
  media="screen"
/>

<div>
  <div>
    {% include toc.html html=content id="markdown-toc" h_min=1 h_max=2 %} {{
    content }}
  </div>
</div>

<footer>
  <button id="prev"><span class="glyphicon glyphicon-chevron-left"></span> Terug</button>
  <button id="next">Verder <span class="glyphicon glyphicon-chevron-right"></span></button>
</footer>

<script>
  (function() {
    if (!Array.prototype.forEach) {
      Array.prototype.forEach = function(callback, thisArg) {
        thisArg = thisArg || window;
        for (var i = 0; i < this.length; i++) {
          callback.call(thisArg, this[i], i, this);
        }
      };
    }

    var tocElt = document.querySelector("#markdown-toc");
    var itemElts = tocElt.querySelectorAll("a");
    var prevButton = document.querySelector("#prev");
    var nextButton = document.querySelector("#next");
    var containerElt = tocElt.parentElement;
    var nextItemElt = null;
    var prevItemElt = null;

    prevButton.addEventListener("click", function() {
      if (prevItemElt) {
        prevItemElt.click();
      }
    });
    nextButton.addEventListener("click", function() {
      if (nextItemElt) {
        nextItemElt.click();
      }
    });

    function clickHandler(event) {
      event.preventDefault();
      var itemElt = event.target;
      var id = getId(itemElt);
      navigateTo(id);

      itemElts.forEach(function(itemElt) {
        itemElt.classList.remove("active");
      });
      itemElt.classList.add("active");
    }

    function findIndex(id) {
      for (var i = 0; i < itemElts.length; i++) {
        if (getId(itemElts[i]) === id) {
          return i;
        }
      }
      return -1;
    }

    function getPrevious(id) {
      const idx = findIndex(id);
      return idx > 0 ? itemElts[idx - 1] : null;
    }

    function getNext(id) {
      const idx = findIndex(id);
      return idx < itemElts.length - 1 ? itemElts[idx + 1] : null;
    }

    function getId(itemElt) {
      var href = itemElt.href;
      return href.split("#")[1];
    }

    function navigateTo(id) {
      containerElt.classList.add("hide");

      var curr = containerElt.firstElementChild;
      var show = false;
      while (curr) {
        if (curr !== tocElt) {
          if (curr.id === id) {
            show = true;
          } else if (curr.tagName === "H1" || curr.tagName === "H2") {
            show = false;
          }

          if (show) {
            curr.classList.remove("hidden-by-toc");
          } else {
            curr.classList.add("hidden-by-toc");
          }
        }

        curr = curr.nextElementSibling;
      }
      containerElt.classList.remove("hide");

      prevItemElt = getPrevious(id);
      if (prevItemElt) {
        prevButton.classList.remove("hidden-by-toc");
      } else {
        prevButton.classList.add("hidden-by-toc");
      }

      nextItemElt = getNext(id);
      if (nextItemElt) {
        nextButton.classList.remove("hidden-by-toc");
      } else {
        nextButton.classList.add("hidden-by-toc");
      }

      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }

    itemElts.forEach(function(itemElt) {
      itemElt.addEventListener("click", clickHandler);
    });

    itemElts[0].click();
  })();
</script>
